.ipynb_checkpoints
*.pyc

*.log

*.aux

*.rel

*.gz

*.blg

*.bbl

*.swp

tacl_colors.out
tacl_colors.pdf

.DS_Store

coverage_report/

.coverage

rugstk
tuna
hawkins_data

runs

# virtualenv shortcut script
activate

# minimal subset for Tensorboard logging
/tensorflow

nosetests.json

.RData
.Rhistory
*-converted-to.pdf
arxiv_submission/
